%div{class: @presenter.pdf_title_style}
  CLEAR Offer Letter


.s-vgTop4
  [Employee Name]
.firstName
  [_______________]
.lastName
  [_______________]
.title
  Re: Offer of Employment

.s-vgTop4
  Dear [Employee]:
.s-vgTop2
  On behalf of [__________] (the "Company"), we are pleased to offer you a position as a [____________________] with the Company.

.s-vgTop2
  This offer of at-will employment is conditioned upon your satisfactory completion of certain requirements,
  as more fully explained in this letter.
.s-vgTop2
  Your employment is subject to the terms set forth in this letter, which override anything said
  to you during your interview or any other discussions regarding your employment with the Company.
  For any capitalized terms used but not defined in this letter, see Attachment A.
  If you accept this offer, your start date will be [__________] or another mutually
  agreed upon date.
