%div{class: @presenter.pdf_title_style}
  Legal Disclaimers

.s-vgTop2.s-vgBottom2
  :markdown
    If you accept this offer, your employment with the Company will be "at will," meaning that either you
    or the Company may terminate your employment at any time and for any reason, with or without cause.
    While you are employed at the Company, you will not engage in any other employment, consulting or other
    business activity (whether full-time or part-time) that would create a conflict of interest with the Company.

    You will be required, as a condition of your employment with the Company, to observe and uphold all of
    the Company's privacy policies and procedures as promulgated from time to time.
    Like all Company employees, you will also be required to sign the Company's
    standard proprietary information and invention assignment agreement, if any.

    You are encouraged to obtain your own tax advice regarding your compensation from the Company.  You agree that
    the Company does not have a duty to design its compensation policies in a manner that minimizes your tax
    liabilities, and you will not make any claim against the Company or its board of directors related to tax
    liabilities arising from your compensation.

    You acknowledge that this letter, along with any attachments, represents the entire agreement between you
    and the Company and that no verbal or written agreements, promises or representations that are not
    specifically stated in this offer are or will be binding upon the Company.  By signing this letter, you
    confirm that you are under no contractual or other legal obligations that will prohibit you from
    performing your duties with the Company.  As a condition of employment, you will be required to complete
    the first section of the USCIS Form I-9 form enclosed on Attachment D and provide us with documentation
    (as noted in the Form I-9) to establish your identity and authorization to work in the United States.

    The Company hereby represents and warrants that the offer of Incentive Stock Options and the strike price
    contained in this letter have been approved by the Company's Board of Directors and no further corporate
    consents or approvals are required from the Company to effect this offer of employment or the grant of
    options referenced herein.

    [Remainder of Page Intentionally Left Blank]
