%div{class: @presenter.pdf_title_style}
  CLEAR Amendment

.s-vgTop4
  [Company Name]
.firstName
  [_______________]
.lastName
  [_______________]

.s-vgTop4
  [Employee Name]
.firstName
  [_______________]
.lastName
  [_______________]
.title
  Re: Equity Compensation


.s-vTop4
  Dear [Employee Name]:
.s-vgTop2
  This letter sets forth certain terms regarding your equity compensation in [__________]
  (the "Company"). Except as explicitly modified or supplemented by this letter, the terms
  of your employment with the Company, including any equity compensation, remain unmodified and in full force and effect.
.s-vgTop4
  For any capitalized terms used but not defined in this letter, see Attachment A.
