.s-vgTop4
  We appreciate having you on our team.
  If you wish to accept the terms outlined in this letter, please sign and date the enclosed duplicate original
  of this letter and return it to me.  This letter, if not accepted, will expire at the close of business on [__________].

.s-vgTop4
  Very truly yours,
.s-vgTop2
  [COMPANY NAME]
.s-vgTop4
  By: ________________________________
.s-vgTop1
  Name: _________________________
.s-vgTop1
  Title: __________________________
.s-vgTop1
  Email: _________________________
.s-vgTop1
  Phone: ________________________

.s-vgTop4
  ACCEPTED AND AGREED:
.s-vgTop2
  _______________________________
.s-vgTop1
  (Signature)

.s-vgTop4
  _______________________________
.s-vgTop1
  (PRINT EMPLOYEE NAME)

.s-vgTop4
  _______________________________
.s-vgTop1
  Date
