%div{class: @presenter.pdf_title_style}
  Terms of this Amendment

.s-vgTop2.s-vgBottom2
  %div{class: @presenter.pdf_term_title}
    Loading: None
  We do not Front-Load or Back-Load your vesting.  After the cliff, the shares of the Company underlying your options will vest at the same rate at all times.  Back-Loading and Front-Loading distorts both the Company's and your decision on if or when you decide to leave.  For example, if 50% of the shares underlying your options vested in your last year, we would have a financial incentive to fire you before that last year, even if you were doing well.


.s-vgTop2.s-vgBottom2
  %div{class: @presenter.pdf_term_title}
    Exercise of Options, Early Exercise:
    %span.js-earlyExerciseText

  .js-earlyExerciseExplanation.js-yes.u-hidden
    When you joined the Company, you may have elected to exercise all of your options early.  The equity you are entitled to still vests over time, just with a different mechanism.  You took on financial risk in exchange for more favorable tax treatment if the Company does well.  If the Company undergoes a Dissolution Event, or undergoes a Liquidity Event and is acquired for less than the amount that must be paid to preferred stockholders, the money you spent to exercise your options will be a total loss.
  .js-earlyExerciseExplanation.js-no.u-hidden
    You may not exercise your options early. Your options may be exercised only in accordance with the vesting schedule of the underlying shares.


.s-vgTop2.s-vgBottom2
  %div{class: @presenter.pdf_term_title}
    Exercise Window:
    %span.js-exerciseWindowText
    after termination of employment.


  Notwithstanding anything that may have been previously stated, your options will expire and may no longer be
  exercised following the exercise window set forth above. To retain Incentive Stock Option status, the options
  must be exercised within 90 days from the termination of your employment. If the options are not exercised
  within 90 days, they will automatically convert to Nonstatutory Stock Options and will no longer qualify for
  any preferential tax treatment accorded Incentive Stock Options.

  [If you are terminated for cause, [all of the options will expire immediately][your exercise window will be shortened to [____] months].]

  If you can't afford to exercise the options and you do not Net Exercise (if allowed, see below), you will
  lose any ownership you have earned in the Company.


.s-vgTop2.s-vgBottom2
  %div{class: @presenter.pdf_term_title}
    Net exercise:
    %span.js-netExerciseText
  .js-netExerciseExplanation.js-no.u-hidden
    The Company does not have a net exercise program with respect to your options.
  .js-netExerciseExplanation.js-yes.u-hidden
    During your exercise window you can sell back to the Company a portion of the options for which the underlying shares have vested and use the resulting proceeds to exercise the remaining portion.  Your right to sell your options back to the Company is known as "net exercise".  The value per share of the options sold to the Company will be determined by the per share value according to the Company's latest 409A valuation minus your strike price.  A net exercise means you won't have to pay out of pocket to receive shares of Common Stock, but it also means you will get fewer shares than you would if you used your own funds to exercise the options.
