%div{class: @presenter.pdf_title_style}
  Attachment A: Definitions

.definitions
  :markdown
    **"AMT"** means the the Alternative Minimum Tax

    **"Back-Loading"** means the practice of increasing the rate of vesting of an employee's equity grants over the course of a vesting period.

    **"Front-Loading"** means the practice of decreasing the rate of vesting of an employee's equity grants over the course of the applicable vesting period.

    **"Change of Control"** means (i) a transaction or series of related transactions in which any "person" or "group" (within the meaning of Section 13(d) and 14(d) of the Securities Exchange Act of 1934, as amended), becomes the "beneficial owner" (as defined in Rule 13d-3 under the Securities Exchange Act of 1934, as amended), directly or indirectly, of more than 50% of the outstanding voting securities of the Company having the right to vote for the election of members of the Company's Board of Directors, (ii) any reorganization, merger or consolidation of the Company, other than a transaction or series of related transactions in which the holders of the voting securities of the Company outstanding immediately prior to such transaction or series of related transactions retain, immediately after such transaction or series of related transactions, at least a majority of the total voting power represented by the outstanding voting securities of the Company or such other surviving or resulting entity or (iii) a sale, lease or other disposition of all or substantially all of the assets of the Company.

    **"Common Stock"** means the common stock of the Company.

    **"Dissolution Event"** means (i) a voluntary termination of operations, (ii) a general assignment for the benefit of the Company's creditors or (iii) any other liquidation, dissolution or winding up of the Company (excluding a Liquidity Event), whether voluntary or involuntary.

    **"Equity Financing"** means a bona fide transaction or series of transactions with the principal purpose of raising capital, pursuant to which the Company issues and sells Preferred Stock at a fixed pre-money valuation.

    **"Incentive Stock Options"** shall have the meaning set forth in Section 422 of the Internal Revenue Code of 1986, as amended.

    **"Initial Public Offering"** means the closing of the Company's first firm commitment underwritten initial public offering of Common Stock pursuant to a registration statement filed under the Securities Act of 1933, as amended.

    **"Liquidity Event"** means a Change of Control or an Initial Public Offering.

    **"Nonstatutory Stock Options"** means compensatory stock options that are not intended or do not qualify to be Incentive Stock Options under the Internal Revenue Code of 1986, as amended.

    **"Preferred Stock"** means the preferred stock of the Company.
