.s-grid
  .s-grid-colMd12.c-inset.u-bgGray.js-clear1.js-clearPreset.clearPreset
    .u-textAlignCenter
      %h5.s-h5
        %span.fontello-lock
        10-year window
      .u-colorMuted.u-fontWeight200
        Longest-allowable window to exerise your options.
        %br
        Employees can wait until a company exits to exercise.
        %br
        And no back/front-loading, plus early exercise.

      .c-button.c-button--gray.c-button--md.s-grid-break.s-vgTop1
        use

  .s-grid-colMd12.c-inset.u-bgGray.js-clear2.js-clearPreset.clearPreset
    .u-textAlignCenter
      %h5.s-h5
        %span.fontello-lock
        90-day window, net-exercise
      .u-colorMuted.u-fontWeight200
        Short window to to exercise.
        %br
        But a mechanism to exercise some of your shares.
        %br
        And no back/front-loading, plus early exercise.

      .c-button.c-button--gray.c-button--md.s-grid-break.s-vgTop1
        use
